.twin-display{
    display: flex;
    flex-direction: row;
}

.twin-card{
    background-color: var(--greengrey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin:  0px 50px;
    padding: 25px;
    border: solid 1px black;
    box-shadow: 2px 5px 5px grey;
}