.big-card{        
            background-color: var(--greengrey);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 75%;
            /* padding: 75px; */
            border: solid 1px black;
            box-shadow: 2px 5px 5px grey;
    }
    
.twin-display{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
        }
                
.twin-card{
        background-color: var(--greengrey);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 30%;
        margin:  0px 50px;
        padding: 25px;
        border: solid 1px black;
        box-shadow: 2px 5px 5px grey;
    }
    
hr{
            width:100%;
            text-align:left;
            margin-left:0;
    }
