/* color palette
  blue: #596e7f
  pink: #ecd0c7
  grey: #e2e1df
  offwhite: #fafbfd
*/

#root {
  box-sizing: border-box;
  text-align: center;
  font-family: 'futura PT', Helvetica, Arial, sans-serif;
  background-color: #fafbfd;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}