/* color palette
  blue: #596e7f
  pink: #ecd0c7
  grey: #e2e1df (old)
  greenishgrey: #cbe5ce
  offwhite: #fafbfd
*/

#root {
  /* Can now access this color by going var(--colorname) in any other component */
  --darkblue: #2E769A;
  --pink: #ecd0c7;
  --greengrey: #cbe5ce;
  --offwhite: #fafbfd;

  box-sizing: border-box;
  text-align: center;
  font-family: 'futura-pt', Helvetica, Arial, sans-serif;
  background-color: var(--offwhite);
  min-height: 100vh;
  /* Unsure why I need to give negative margin, gotta ask */
  margin: -10px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* background-image:  ; */
}


main{
  background-color: whitesmoke;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.65),rgba(255, 255, 255, 0.65)), url(assets/japan-background.jpg);
  background-size: cover;
}

.error-messages {
  background-color: #fdecea;
  padding: 15px;
  border: 1px solid #f5c2c7;
  margin-bottom: 20px;
  border-radius: 5px;
}

.error-message {
  color: red;
  margin: 5px 0;
}

